p{
    color: white;
}

 /* width */
 ::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #111111;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #111111;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:#111111;
} 

.user-message{
    background: #28a745; 
    padding: 3%;  
    border-radius: 15% 0% 15% 0%;
}

.bot-message{
    background: #4679BD; 
    padding: 3%;
    border-radius: 15% 0% 15% 0%;
}