<footer class="footer">
    <div class="container">
      <span class="glyphicon glyphicon-copyright-mark" style="color: white;">
         &copy; <a href="http://www.asa.siu.edu" target="_blank">CASA, SIUC, 2018</a>
      </span>
      
    </div>
  </footer>