<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #111111;">

    <div class="container">
      
      <!-- Navbar brand -->
      <a class="navbar-brand" href="/">AskCASA</a>
  
      <!-- Collapse button -->
      <button class="navbar-toggler" 
              type="button" 
              data-toggle="collapse" 
              data-target="#menuNav"     
              aria-controls="menuNav"
              aria-expanded="false" 
              aria-label="Toggle navigation"
              (click)="onClickNavbar()">
        <span class="navbar-toggler-icon"></span>
    </button>
  
      <!-- Collapsible content -->
      <div 
            class="collapse navbar-collapse" 
            id="menuNav"
            [ngClass]="{ 'show': showNavbar }">
  
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" routerLink="/about-me" style="cursor: pointer;">About Me</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/voice" style="cursor: pointer;" >Voice</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link"routerLink="/text" style="cursor: pointer;">Text</a>
          </li>
        </ul>

      </div>
  
    </div>
  
  </nav>
  