<div class="row mt-4">
    <div class="col-xs-12 col-sm-12 col-md-6 d-flex justify-content-center mt-4">
        <div style="cursor: pointer;"
            class="circle-text-green"
            #text
            (mouseover)="onMouseOver('2')"
            (mouseleave)="onMouseLeave('2')"
            (click) = "navigateToText()"
        ><div style="font-size: 200%;">Text</div></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 d-flex justify-content-center mt-4">
        <div style="cursor: pointer;"
            class="circle-text-green" 
            (mouseover)="onMouseOver('1')"
            (mouseleave)="onMouseLeave('1')"
            (click) = "navigateToVoice()"
            #voice
       ><div style="font-size: 200%; cursor: pointer;">Voice</div></div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <teximate [text]="title" [enter]="titleAnimation" class="texiMateTitle"></teximate>
        <p class="text-success">{{ description }}</p>
    </div>    
</div>