/* You can add global styles to this file, and also import other style files */
/* space-mono-regular - latin */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/space-mono-v3-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Space Mono'), local('SpaceMono-Regular'),
         url('assets/fonts/space-mono-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/space-mono-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('assets/fonts/space-mono-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/space-mono-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('assets/fonts/space-mono-v3-latin-regular.svg#SpaceMono') format('svg'); /* Legacy iOS */
  }
  
body {
    background: #111111;
    font-family: 'Space Mono' ;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #111111;
  }