
<div class="row justify-content-center mt-8" style="color: white; margin-top: 15%">
    <div class="col-md-12 text-center mt-8">
        <span class="display-1 d-block mt-8">404</span>
        <div class="mb-4 lead mt-8">Oops!! I Cannot Navigate to where you want me... Sorry </div>
        <a routerLink="/" class="btn btn-link">Back to Home</a>
    </div>
</div>
